@tailwind base;
@tailwind components;
@tailwind utilities;

button.wallet-adapter-button-trigger {
    @apply uppercase bg-transparent hover:bg-transparent ; /* etc */
    font-family: var(--font-handjet);
  }

.wallet-adapter-dropdown-list {
    font-family: var(--font-handjet);
  }

.wallet-adapter-modal-wrapper {
    font-family: var(--font-handjet);
  }

.wallet-adapter-button {
    font-family: var(--font-handjet);
  }
